<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URLs</title>
</head>
<body>
    <h1>First Page (Defalut Page)</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores exercitationem autem ut officiis repellendus illum, sunt iure nostrum excepturi odit tempora molestias sequi enim veniam facilis odio sit, accusantium eos?</p>
    <a href="{{ url_for('more')}}">See More...</a>
</body>
</html>