<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Is It New Year</title>
    <style>
        body{
            width: 90vw;
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    {% if new_year %}
    <h1>Happy New Year</h1>
    {% else %}
    <h1>NO</h1>
    {% endif %}
</body>
</html>